name: Publish

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  publish:
    if: |
      github.event.workflow_run.conclusion == 'success' &&
      startsWith(github.event.workflow_run.head_branch, 'v')
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
            fetch-depth: 0

      - name: Publish
        env:
          PSGALLERY_API_KEY: ${{ secrets.PSGALLERY_API_KEY }}
        shell: pwsh
        run: ./build.ps1 -Task Publish -Bootstrap
